.env

dist
node_modules

reports/*
!reports/payloads
!reports/proposals
!reports/foundry
reports/foundry/*.json

cache/solidity-files-cache.json
cache/zksync-solidity-files-cache.json
out
zkout

.early.coverage