[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ffi = true
fs_permissions = [{ access = "write", path = "./reports" }]
evm_version = 'shanghai'

[profile.metis]
evm_version = 'paris'

[profile.mainnet]
evm_version = 'shanghai'

[profile.arbitrum]
evm_version = 'shanghai'

[profile.optimism]
evm_version = 'shanghai'

[profile.base]
evm_version = 'shanghai'

[profile.polygon]
evm_version = 'shanghai'

[profile.avalanche]
evm_version = 'shanghai'

[profile.gnosis]
evm_version = 'shanghai'

[profile.bnb]
evm_version = 'shanghai'


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
