[profile.default]
src = "src"
out = "out"
script = "script"
libs = ["lib"]
ffi = true
fs_permissions = [{ access = "write", path = "./reports" }]
evm_version = 'shanghai'

[profile.zksync]
src = 'zksync'
test = 'zksync'
script = 'zksync/script'
libs = ['lib']
solc = '0.8.20'
fs_permissions = [{ access = "write", path = "./reports" }]
ffi = true
evm_version = 'shanghai'

[profile.zksync.zksync]
bytecode_hash = 'none'
compile = true
fallback_oz = true
mode = '3'
zksolc = '1.5.8'

[profile.metis]
evm_version = 'shanghai'

[profile.mainnet]
evm_version = 'shanghai'

[profile.arbitrum]
evm_version = 'shanghai'

[profile.optimism]
evm_version = 'shanghai'

[profile.base]
evm_version = 'shanghai'

[profile.polygon]
evm_version = 'shanghai'

[profile.avalanche]
evm_version = 'shanghai'

[profile.gnosis]
evm_version = 'shanghai'

[profile.bnb]
evm_version = 'shanghai'

[profile.linea]
evm_version = 'london'

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
polygon = "${RPC_POLYGON}"
polygon_amoy = "${RPC_POLYGON_AMOY}"
avalanche = "${RPC_AVALANCHE}"
avalanche_fuji = "${RPC_AVALANCHE_FUJI}"
arbitrum = "${RPC_ARBITRUM}"
arbitrum_sepolia = "${RPC_ARBITRUM_SEPOLIA}"
fantom = "${RPC_FANTOM}"
fantom_testnet = "${RPC_FANTOM_TESTNET}"
optimism = "${RPC_OPTIMISM}"
optimism_sepolia = "${RPC_OPTIMISM_SEPOLIA}"
harmony = "${RPC_HARMONY}"
sepolia = "${RPC_SEPOLIA}"
scroll = "${RPC_SCROLL}"
scroll_sepolia = "${RPC_SCROLL_SEPOLIA}"
metis = "${RPC_METIS}"
base = "${RPC_BASE}"
base_sepolia = "${RPC_BASE_SEPOLIA}"
bnb = "${RPC_BNB}"
gnosis = "${RPC_GNOSIS}"
zkEVM = "${RPC_ZKEVM}"
celo = "${RPC_CELO}"
zksync = "${RPC_ZKSYNC}"
linea = "${RPC_LINEA}"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
